
app-header[_ngcontent-xop-c43] {
    max-width: 400px;
    width: 80%
}

app-change-password[_ngcontent-xop-c43], app-hbo-max-not-authorized[_ngcontent-xop-c43], app-multi-login[_ngcontent-xop-c43], app-pw-reset-success[_ngcontent-xop-c43], app-tos[_ngcontent-xop-c43], app-zenkey-linking[_ngcontent-xop-c43] {
    max-width: 400px;
    width: 80%;
    margin-bottom: 72px
}

app-kmsi[_ngcontent-xop-c43] {
    max-width: 615px;
    width: 65%
}

app-ip-authentication[_ngcontent-xop-c43] {
    max-width: 400px;
    width: 80%;
    margin-bottom: 32px
}

app-timeout[_ngcontent-xop-c43] {
    margin-bottom: 122px
}

app-footer[_ngcontent-xop-c43], app-timeout[_ngcontent-xop-c43] {
    max-width: 400px;
    width: 80%
}

.center-header[_ngcontent-xop-c43] {
    display: flex;
    justify-content: center
}

.Card[_ngcontent-xop-c43] {
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 1200px) {
    .Card[_ngcontent-xop-c43] {
        margin-top: 4.0625rem;
        max-width: 615px;
        min-height: 360px;
        max-height: 900px;
        background-color: #fff
    }
}

@media (max-width: 1199.98px) {
    app-change-password[_ngcontent-xop-c43], app-pw-reset-success[_ngcontent-xop-c43] {
        margin-bottom: 24px
    }

    .Card[_ngcontent-xop-c43] {
        width: 100%;
        min-height: 360px;
        max-height: 900px;
        background-color: #fff
    }
}

@media (max-width: 440px) {
    .Card[_ngcontent-xop-c43] {
        width: auto
    }

    app-header[_ngcontent-xop-c43] {
        display: flex;
        justify-content: center
    }
}

.header-logo-image[_ngcontent-xop-c27] {
    height: 24px
}

.image[_ngcontent-xop-c27] {
    margin-top: 72px
}

@media (max-width: 1199.98px) {
    .image[_ngcontent-xop-c27] {
        margin-top: 32px
    }
}

.timeout-title[_ngcontent-xop-c41] {
    min-height: 32px;
    font-family: ATTAleckSans-Medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 6px
}

.timeout-body-text[_ngcontent-xop-c41], .timeout-title[_ngcontent-xop-c41] {
    width: 100%;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #1d2329
}

.timeout-body-text[_ngcontent-xop-c41] {
    min-height: 52px;
    font-family: ATTAleckSans-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 61px
}

div[_ngcontent-xop-c42] {
    background-color: #f7f7f7
}

.policyArea[_ngcontent-xop-c42] {
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: row
}

.policyArea[_ngcontent-xop-c42] a[_ngcontent-xop-c42] {
    padding: 0 10px
}

.footer-link-text[_ngcontent-xop-c42] {
    transition: color .3s linear;
    font-family: ATTAleckSans-Medium;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #0057b8
}

.footer-link-text[_ngcontent-xop-c42]:focus, .footer-link-text[_ngcontent-xop-c42]:hover {
    text-decoration: underline
}

.copyright[_ngcontent-xop-c42] {
    font-family: ATTAleckSans-Regular;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center
}

.footer-link-text[_ngcontent-xop-c42] .text-style-1[_ngcontent-xop-c42] {
    font-weight: 400;
    color: #1d2329
}

@media (max-width: 1199.98px) {
    .policyArea[_ngcontent-xop-c42] {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .policyArea[_ngcontent-xop-c42] a[_ngcontent-xop-c42]:after {
        content: "";
        display: block;
        height: 0;
        width: 1px;
        text-align: center;
        padding: 2px 0;
        margin-bottom: 2px
    }

    .copyright[_ngcontent-xop-c42] {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 80%
    }

    .policyArea[_ngcontent-xop-c42] a[_ngcontent-xop-c42] {
        white-space: nowrap
    }
}

.inErrorShow {
    content: "";
    height: 4px !important;
    width: 4px !important;
    background-color: #c70032;
    margin: 0 8px !important;
    border-radius: 100% !important;
    position: relative;
    top: 8px;
}

.ng-tns-c33-0 {
    width: 100%;
}
