
app-error[_ngcontent-vri-c41], app-footer[_ngcontent-vri-c41], app-header[_ngcontent-vri-c41], app-manual-login[_ngcontent-vri-c41], app-manual-login-erepair[_ngcontent-vri-c41], app-multi-save-login[_ngcontent-vri-c41] {
    max-width: 310px;
    width: 100%
}

.spacer[_ngcontent-vri-c28] {
    margin-bottom: 70px
}

.image[_ngcontent-vri-c28] {
    height: 24px
}

@media (max-width: 1199.98px) {
    .spacer[_ngcontent-vri-c28] {
        margin-bottom: 50px
    }
}

.errorContainer[_ngcontent-vri-c29] {
    width: 310px;
    border-radius: 3px;
    border: 1px solid rgba(215, 56, 56, .1);
    background-color: rgba(215, 56, 56, .03);
    padding: 11px 15px 10px 16px;
    display: flex;
    align-items: flex-start;
    font-family: ATTAleckSans-Regular;
    margin-top: 12px
}

.errorIcon[_ngcontent-vri-c29]:before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: text-top;
    background-color: transparent;
    background-position-y: center;
    background-position-x: 0;
    background-repeat: no-repeat;
    background-size: contain
}

.errorText[_ngcontent-vri-c29] {
    padding-left: 11px
}

.errorDesc[_ngcontent-vri-c29] {
    font-family: ATTAleckSans-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: normal;
    color: #1d2329
}

.errorCode[_ngcontent-vri-c29], .errorDesc[_ngcontent-vri-c29] {
    font-stretch: normal;
    font-style: normal
}

.errorCode[_ngcontent-vri-c29] {
    text-transform: uppercase;
    padding-top: 10px;
    font-family: ATTAleckSans-Medium;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    letter-spacing: .9px;
    color: #72727e
}

.blueErrorContainer[_ngcontent-vri-c29] {
    border: 1px solid rgba(0, 159, 219, .1);
    background-color: rgba(0, 159, 219, .03)
}

.fg-sign-in[_ngcontent-vri-c33] {
    margin-top: 8px
}

.zenkey-container[_ngcontent-vri-c33] {
    margin-top: 8px;
    margin-bottom: 57px
}

.bottom-container[_ngcontent-vri-c33] {
    margin-top: 45px
}

div[_ngcontent-vri-c39] {
    background-color: #f7f7f7
}

.policyArea[_ngcontent-vri-c39] {
    text-align: center;
    margin-top: 24px;
    display: flex;
    flex-direction: row
}

.policyArea[_ngcontent-vri-c39] a[_ngcontent-vri-c39] {
    padding: 0 11.5px
}

.footer-link-text[_ngcontent-vri-c39] {
    transition: color .3s linear;
    font-family: ATTAleckSans-Medium;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #0057b8
}

.footer-link-text[_ngcontent-vri-c39]:focus, .footer-link-text[_ngcontent-vri-c39]:hover {
    text-decoration: underline
}

.copyright[_ngcontent-vri-c39] {
    font-family: ATTAleckSans-Regular;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center
}

.footer-link-text[_ngcontent-vri-c39] .text-style-1[_ngcontent-vri-c39] {
    font-weight: 400;
    color: #1d2329
}

.spacer[_ngcontent-vri-c39] {
    margin-bottom: 48px
}

@media (max-width: 1199.98px) {
    .policyArea[_ngcontent-vri-c39] {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .policyArea[_ngcontent-vri-c39] a[_ngcontent-vri-c39]:after {
        content: "";
        display: block;
        height: 0;
        width: 1px;
        text-align: center;
        padding: 2px 0;
        margin-bottom: 2px
    }

    .copyright[_ngcontent-vri-c39] {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 80%
    }

    .policyArea[_ngcontent-vri-c39] a[_ngcontent-vri-c39] {
        white-space: nowrap
    }
}

.btn-zenkey[_ngcontent-vri-c32] {
    width: 100%;
    height: 48px;
    border-radius: 3px;
    border: 1px solid #008522;
    background-color: #008522;
    font-family: ATTAleckSans-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-top: 6px
}

.btn-zenkey[_ngcontent-vri-c32]:active, .btn-zenkey[_ngcontent-vri-c32]:not(:disabled):not(.disabled):active {
    background-color: #00771e;
    border-color: #00771e;
    color: #fff
}

.btn-zenkey[_ngcontent-vri-c32]:focus {
    background-color: #007c20;
    box-shadow: inset 0 0 0 3px #007c20, inset 0 0 0 4px #fff;
    color: #fff;
    transition: background-color .3s ease-in 0s
}

.btn-zenkey[_ngcontent-vri-c32]:focus:hover {
    background-color: #007c20;
    box-shadow: inset 0 0 0 3px #007c20, inset 0 0 0 4px #dcdfe3
}

.btn-zenkey[_ngcontent-vri-c32]:active:focus {
    background-color: #007c20;
    box-shadow: none
}

.zenkeyLogoImg[_ngcontent-vri-c32] {
    position: absolute
}

.zenkeyLogoImg[_ngcontent-vri-c32]:before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-left: 8px;
    vertical-align: text-top;
    background-color: transparent;
    background-position-y: center;
    background-position-x: 0;
    background-repeat: no-repeat
}

.zenkeyLinkContainer[_ngcontent-vri-c32] {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: ATTAleckSans-Medium;
    text-align: center !important;
    width: 100%
}

.zenkeyLearnMore[_ngcontent-vri-c32] {
    font-family: ATTAleckSans-Medium;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #0869af;
    margin-top: 15px;
    width: 100%
}

.zenkeyFirstLookText[_ngcontent-vri-c32], .zenkeyLearnMore[_ngcontent-vri-c32] {
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}

.zenkeyFirstLookText[_ngcontent-vri-c32] {
    font-family: ATTAleckSans-Italic;
    font-size: 14px;
    font-weight: 400;
    color: #008522;
    min-height: 19px
}

.zenkeyFirstLookLabel[_ngcontent-vri-c32] {
    border-radius: 3px;
    background-color: #f4faf5;
    display: inline-block;
    margin-right: 5px;
    align-items: center;
    text-align: center;
    font-family: ATTAleckSans-BoldItalic;
    font-size: 12px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #008522;
    padding: 0 4px;
    min-height: 16px
}

#zenkeyFirstLookContainer[_ngcontent-vri-c32] {
    margin-bottom: 2px;
    align-items: center;
    align-self: center;
    width: 100%
}

.or-separator[_ngcontent-vri-c32] {
    margin-bottom: 28px
}
   

